/* src/index.css or src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



.loader-line {
            width: 70px;
            height: 3px;
            position: relative;
            right:0;
            overflow: hidden;
            background-color: #ddd;
            margin: 10px 0;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }

        .loader-line:before {
            content: "";
            position: absolute;
            left: -50%;
            height: 2px;
            width: 40%;
            background-color: coral;
            -webkit-animation: lineAnim 1s linear infinite;
            -moz-animation: lineAnim 1s linear infinite;
            animation: lineAnim 1s linear infinite;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }

        @keyframes lineAnim {
            0% {
                left: -40%;
            }
            50% {
                left: 20%;
                width: 80%;
            }
            100% {
                left: 100%;
                width: 100%;
            }
        }

        